%h1 Listing modalidades

%table
  %tr
    %th Nome
    %th
    %th
    %th

  - @modalidades.each do |modalidade|
    %tr
      %td= modalidade.nome
      %td= link_to 'Show', modalidade
      %td= link_to 'Edit', edit_modalidade_path(modalidade)
      %td= link_to 'Excluir', modalidade, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Modalidade', new_modalidade_path
